/*general styles */
header{background:#017bc4;}
body{color:#1e1d1b}
footer,.footer{background:#f5f6f6}

.dropdown-menu{background:#fff}
/*general styles end here */
/*splashslider styles*/
.slidersection .articlesection, .slidersection .sliderbuttonarea .sliderbuttonsdiv .sliderbutton{background:#49c1f4}
.slidersection .articlesection .sliderCaption, .slidersection .articlesection .sliderbuttonarea .sliderbuttonsdiv .sliderbutton span, .infolink_bg,.headerlink .nav li a.headeranchor, .sliderbigicon{color:#fff}
.slidersection .articlesection .sliderbuttonarea .sliderbuttonsdiv .sliderbutton:hover span, .sliderbigicon:hover{color:#c7eeff}
/*splashslider styles end here*/
/*header*/
header .container .nav > li .dropdown-menu:before, header .container .nav > li .dropdown-menu:after{border-bottom: 10px solid #038ADC;}
header .container .nav > li .dropdown-menu li .headerpoptitle , header .container .nav > li .dropdown-menu  .headerpoptitle{background-color:#038adc}
header .container .nav > li ul, header .container .nav > li .dropdown-menu{background-color:#fff}
header .container .nav > li .dropdown-menu li .headerpoptitle, header .container .nav > li .dropdown-menu  .headerpoptitle {color:#fff}
header .container .nav > li .dropdown-menu li ul li{border-bottom:2px solid #e6e6e6}
.headerlink .nav li b, .headerlink .nav li a:hover{color:#ccc}
.headerlink .nav li .headerdisclaimer{color:#333}
.headerpopfooter{background:#f9f9f9;border-top:2px solid #dfdfdf}
.headerpopfooter a, .disclaimer a, .headerpoptitle, .footerlinksarea .footerlinks a{color:#017BC4}
/*header styles end here*/
/* form styles start here */
input[type="text"].email, input[type="password"].pwd, input[type="text"].textfield{border:1px solid #c6c6c6;background-color:#fff;}
.select {background-color: #ffffff;border: 1px solid #cccccc; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);}
a.infolink, a:hover.infolink, .footercopyrightarea{color:#7f7f7f;}
.footercopyrightarea{border-top:2px solid #e4e5e5;}
/*form styles end here*/

/*facebook Twitter*/
.facebook, .facebook:hover{background:#486397;color:#fff;}
.twitter, .twitter:hover{background:#68a7cc;color:#fff;}
.facebook_gray, .facebook_gray:hover, .twitter_gray, .twitter_gray:hover{background:#cccccc;color:#5a5b5b; box-shadow: 0 2px #636162;}
.facebook i, .twitter i {color:#fff}
.facebook .fa-check, .twitter .fa-check{color:#87cd7c;background:#fff;border-radius:50px;padding:2px;font-size:18px}
.facebook .fa-times, .twitter .fa-times{display:none}
.facebook_gray .fa-check, .twitter_gray .fa-check{display:none}
.facebook_gray .fa-times, .twitter_gray .fa-times{color:#ff0024;background:#fff;border-radius:50px;padding:1px 3px;font-size:18px}
.facebook_gray i, .twitter_gray i{color:#5a5b5b}

/*end*/
/*editableicons start here*/

.editable_buttons{box-shadow:0 1px #196E9B}
.editable_buttons i{font-size:13px;padding:2px;border-right:1px solid #196E9B;}
.redcolorbuttons i{border-right:1px solid #b60b0b;}
.redcolorbuttons{background:#ff0000; box-shadow:0 1px #7f0606}
.greencolorbuttons{background:#7a9836; box-shadow:0 1px #738f32}
.greencolorbuttons i{border-right:1px solid #738f32;}
.graycolorbuttons{background:#ccc; box-shadow:0 1px #ccc}
.editnoborder{padding:0}
.editnoborder i{border:0;}
.normalcursor{cursor:default}
/*editableicons end here*/

body{font-family:"exo_2.0light"}
   .aouthpaddignright30{padding-right:20px}
   .aouthpaddignleft20{padding-left:20px}
   .borderright{border-right:1px solid #ccc}
   .aouthpaddingtop20{margin-top:20px}
   .apptitle{font-family:"exo_2.0bold";font-size:17px;color:#666}
   .aboutapp span{font-family:"exo_2.0light";font-size:13px;color:#666;display:block;line-height:18px}
   .aouthtitle{font-family:"exo_2.0bold";font-size:22px;color:#333333;padding-bottom:10px}
   .applogo{padding-bottom:10px}
   .omargin-top20{margin-top:20px}
   .containeraouth{width:auto;padding:0 5px}
   .aouthlisttitle b{font-family:"exo_2.0bold";font-size:15px;color:#666;font-weight:normal}
   .aouthlisttitle{padding-bottom:10px}
   .aouthloginarea{padding:10px;border:1px solid #f4f4f4;border-radius:5px;background:#F5F6F6	}
   .footer{padding: 5px;display: table;margin: auto;}
   .footer .container{width:590px;}
   @media (min-width: 300px) and (max-width: 478px) {
       .api_login_width{width:100%;}
       .row-fluid .span7 { width: 100%; float:none}
       .row-fluid .span5 { width: 100%; float:none}
       .footer .container{width:100%;}
       #footer{ width:100%}
       .copyright .pull-left{ clear: both; float: none; margin: atuo; text-align: center;}

   }
   @media (min-width:600px) {
    .api_login_width{width:600px;}
    .footer .container{width:590px;}
   }
