/*Blocks*/

.block {
    background: none ;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin: 1em 0;
}
.pagination:after ,.block:after{content:" ";display:block;clear:both}
.dialog .block {
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.block-heading {
  border-bottom: 1px solid #a6a6a6;
  border-left: none;
  color: #505050;
  display: block;
  margin-bottom: 0px;
  text-shadow: none;
  text-transform: none;
  font-weight: bold;
  font-size: .85em;
  line-height: 38px;
}
.tablehead{border-bottom: 1px solid #a6a6a6;height:30px}
.block-heading .block-icon {
  border-right: 1px solid #AAA;
  border-left: none;
}
.block-heading .block-icon a {
  padding: 0em;
}
.block-heading .block-icon [class*="icon-"] {
  padding: 0em 1em;
  line-height: 1em;
}
.block-heading .block-icon.pull-right {
  border-left: 1px solid #AAA;
  border-right: none;
}
.block-heading .label {
  float: right;
  margin-top: .5em;
  margin-right: .75em;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 0px #ffffff;
  -moz-box-shadow: 1px 1px 0px #ffffff;
  box-shadow: 1px 1px 0px #ffffff;
}
.block-heading, p.block-heading, 
a.block-heading,
.block-heading a, .tablehead {
  color: #505050;
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fafafa));
  background: -ms-linear-gradient(bottom, #dddddd, #fafafa);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fafafa 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fafafa);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#dddddd')";
  display: block;
  padding-left: 1em;
  border-top: 1px solid #fff;
  outline: none;
}
.block-heading:hover, a.block-heading:hover,
.block-heading a:hover {
  background: #dddddd;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dddddd), color-stop(1, #fdfdfd));
  background: -ms-linear-gradient(bottom, #dddddd, #fdfdfd);
  background: -moz-linear-gradient(center bottom, #dddddd 0%, #fdfdfd 100%);
  background: -o-linear-gradient(bottom, #dddddd, #fdfdfd);
  filter: progid:dximagetransform.microsoft.gradient(startColorStr='#4d5b76', EndColorStr='#6c7a95');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd',EndColorStr='#dddddd')";
  color: #505050;
}
.block-body {
  margin: 1em;
  min-height: .25em;
}
.block-body h1,
.block-body h2,
.block-body h3,
.block-body h4,
.block-body h5,
.block-body h6,
.block-body table {
/*  margin-top: 12px;*/
}
.block-body.collapse {
  margin-top: 0em;
  margin-bottom: 0em;
}